@{
    var nombre = Context.Session.GetString("UsuarioNombre");
    var rol = Context.Session.GetString("UsuarioRol");
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .der-fondo {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 0.80rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
            background-color: red;
            border: 2px solid darkred;
            color: white; /* Color */
            position: fixed;
            top: 2%;
            right: 1%;
            transform: translateX(-1%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fuente-letras {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 1.5rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
            color: darkgreen; /* Color */
        }

    </style>
</head>
<body>
    @if (!string.IsNullOrEmpty(nombre))
    {
        <header style="background-color: white; border-bottom: 2px solid darkgreen; padding: 0 20px; height: 60px; display: flex; align-items: center;">
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                <h1 style="font-size: 2rem; font-family: 'Georgia', serif; color: darkgreen; font-weight: bold; margin: 0 auto;">AulaGestión</h1>
            </div>
        </header>
        <div>
            <a asp-controller="Usuarios" asp-action="Logout" class="btn der-fondo">Cerrar sesión</a>
        </div>
    }
</body>
</html>


