@model List<ProyectoFinalPA.Models.Colaborador>
@{
    ViewData["Title"] = "Colaboradores - ";
}
@*
Se crea una lista HTML no ordenada <ul> para mostrar los usuarios.
*@

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .centro-pantalla {
            position: fixed;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 900px; /* Puedes ajustar ancho según necesidad */
        }

        .centro-titulo {
            position: fixed;
            top: 4%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px; /* Puedes ajustar ancho según necesidad */
        }

        .fuente-titulos {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 5rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
            color: darkgreen; /* Color */
        }

        .fuente-letra {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 0.95rem; /* Tamaño de letra */
            font-weight: normal; /* Grosor */
            color: darkgreen; /* Color */
        }

        .cuadro-personalizado {
            background-color: white; /* fondo verde claro suave */
            border: 2px solid darkgreen; /* borde verde oscuro */
            border-radius: 15px; /* bordes redondeados */
            padding: 20px; /* espacio interno */
            color: darkgreen; /* texto verde oscuro */
            font-family: 'Georgia', serif; /* fuente */
        }

    </style>
</head>
<body>
    <div class="centro-titulo fuente-titulos">
        <h2> Colaboradores </h2>
    </div>
    <div>
        <div class="container">
            <div class="row centro-pantalla text-center">
                @foreach (var colaborador in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="cuadro-personalizado fuente-letra">
                            <strong>Nombre:</strong> @colaborador.Name <br />
                            <strong>Email:</strong> @colaborador.Email
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
