@model List<ProyectoFinalPA.Models.Colaborador>
@{
    ViewData["Title"] = "Colaboradores - ";
}
@*
Se crea una lista HTML no ordenada <ul> para mostrar los usuarios.
*@

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .centro-pantalla {
            position: fixed;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 900px; /* Puedes ajustar ancho según necesidad */
        }

        .centro-titulo {
            position: fixed;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px; /* Puedes ajustar ancho según necesidad */
        }

    </style>
</head>
<body>
    <div class="centro-titulo">
        <h2 class="text-primary text-center fs-1 mb-3">Lista de colaboradores</h2>
    </div>
    <div class="centro-pantalla">
        <div class="container">
            <div class="row justify-content-center text-center">
                @foreach (var colaborador in Model)
                {
                    <div class="col-md-12 col-lg-6 mb-3 fs-5">
                        <div class="border p-3 rounded" style="background-color: white; color: darkgreen;">
                            <strong>Nombre:</strong> @colaborador.Name <br />
                            <strong>Email:</strong> @colaborador.Email
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
