@model List<ProyectoFinalPA.Models.Clase>

<h2>Lista de clases</h2>
@{
    var rol = Context.Session.GetString("UsuarioRol");
}

@if (rol == "Docente")
{
    <a asp-action="Crear" class="btn btn-primary mb-3">AGREGAR CLASE</a>
}
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Docente</th>
                <th>Duración (min)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Materia</td>
                    <td>@item.Docente</td>
                    <td>@item.DuracionMinutos</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay clases registradas.</p>
}
