@model List<ProyectoFinalPA.Models.Tutoria>
@{
    ViewData["Title"] = "Tutorias - ";
    var rol = Context.Session.GetString("UsuarioRol");
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .tabla {
            min-width: 900px;
            border-collapse: collapse;
            background-color: white;
            border: 2px solid darkgreen;
            border-radius: 20px;
        }

        .encabezado {
            background-color: lawngreen;
            border: 2px solid darkgreen;
        }

        .celdas-enc, .celdas {
            padding: 15px;
            text-align: center;
            border: 2px solid darkgreen;
        }

        .fuente-titulo {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 2rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
        }

        .fuente-titulos {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 1.5rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
        }

        .fuente-letras {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 1rem; /* Tamaño de letra */
            font-weight: normal; /* Grosor */
            color: darkgreen; /* Color */
        }

        .izq-pantalla {
            position: fixed;
            top: 13%;
            left: 2%;
            transform: translateX(-2%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .posicion-pantalla {
            position: fixed;
            top: 50%; /* 50% desde arriba */
            left: 50%;
            transform: translate(-50%, -50%); /* Ajusta para centrar exactamente */
            display: flex; /* Para usar flexbox */
            justify-content: center; /* Centrar horizontal */
            align-items: center; /* Centrar vertical */
        }

        .btnagregar {
            background-color: lawngreen;
            color: white;
            position: fixed;
            top: 20%;
            left: 2%;
            transform: translateX(-2%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .eliminar {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 0.80rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
            background-color: red;
            border: 2px solid darkred;
            color: white; /* Color */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            position: relative;
            left: 35px; /* Puedes ajustar para que quede más separado */
        }

        .salir {
            font-family: 'Georgia', serif; /* Tipo de letra */
            font-size: 0.80rem; /* Tamaño de letra */
            font-weight: bold; /* Grosor */
            background-color: red;
            border: 2px solid darkred;
            color: white; /* Color */
            position: fixed;
            bottom: 2%;
            left: 1%;
            transform: translateX(-1%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <div>
        <h2 class="fuente-titulo izq-pantalla" style="color: darkgreen">Lista de tutorías</h2>
    </div>

    @if (rol == "Docente")
    {
        <a asp-action="Crear" class="btn btnagregar" style="border: 2px solid darkgreen;">Agregar tutoria</a>
    }

    <div class="posicion-pantalla">
        @if (Model.Any())
        {
            <table class="tabla">
                <thead class="encabezado">
                    <tr class="fuente-titulos">
                        <th class="celdas-enc" style="color: white;">Tema</th>
                        <th class="celdas-enc" style="color: white;">Tutor</th>
                        <th class="celdas-enc" style="color: white;">Fecha</th>
                        <th class="celdas-enc" style="color: white;">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="fuente-letras">
                            <td class="celdas">@item.Tema</td>
                            <td class="celdas">@item.Tutor</td>
                            <td class="celdas">@item.Fecha.ToShortDateString()</td>
                            <td class="celdas text-center align-middle">
                                <form asp-action="Eliminar" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn eliminar">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="fuente-titulos posicion-pantalla text-center">No hay clases registradas.</p>
        }
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn salir">Regresar</a>
    </div>
</body>
</html>